*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    z-index: 1;
    top: 0;
    margin: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

ul li{
    list-style: none;
    color: white;
    padding: 0 20px;
}

.cart{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media screen and (max-width: 600px){
    
}


.page{
    background-color: rgb(119, 136, 153);
    height: 450px;
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
}

.intro h3{
    color: khaki;
     padding-bottom: 20px 
}

.intro h1{
    color: white;
    padding-bottom: 20px;
}

.intro p{
    color: white;
}

.intro-btn button{
    padding: 10px;
    width: 18%;
    background-color: khaki;
    border-radius: 20px;
    border: none;
    margin-top: 40px;   
}

.skinproduct img{
    width: 100%;
}

.intro{
    width: 50%;
    padding: 30px;   
}


.content{
    padding: 50px 80px;  
}

.content h5{
   font-size: 16px; 
   color: khaki;
   padding-bottom: 25px;
}

.content h2{
    font-size: 25px;
    padding-bottom: 50px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
  line-height: 2;
}

.card h3{
    font-size: 25px;
}

.iconss{
    background-color: khaki;
    width: 50px;
    border-radius: 100%;
    text-align: center;
}

.history{
    background-color: rgb(36, 33, 33);
    display: flex;
    width: 100%;
    padding: 25px 70px;
    gap: 40px;
    color: white;
    border-top: 1px solid white;
}

.history img{
    width: 40%;
    height: 350px;   
}

.history-text{
    padding-top: 120px;
    line-height: 2;
    width: 60%;
}

.history-text p{
    color: bisque;
}

.history-text h1{
   font-size: 60px;
}

.selection{
    display: flex;
    flex-wrap: wrap;
    padding: 25px 70px;
}

.selection-text{
    width: 50%;
}

.selection-text h5{
    padding: 30px;
    color: khaki;
}

.selection-text h2{
    padding: 0px 20px;
    font-size: 30px;
}

.selection-text p{
    padding: 20px;
    font-size: 20px;
}

.selection-img{
    display: flex;
    width: 50%;
}

.selection img{
    width: 50%;
    border: 10px solid white;
}

.services{
    background-color: rgb(36, 33, 33);
    color: white;
    padding: 50px;
    line-height: 2;
}

.services h2{
    text-align: center;
    padding-bottom: 30px;
}

.services-cards img{
    width: 100%;
}

.services-cards{
    display: flex;
    justify-content: space-between;
    padding: 30px; 
    width: 100%;
}


.services-cards h3{
    text-align: center;
}

.services-cards p{
    text-align: center;
}

.btn{
    float: right;
}          

.footer{
    display: flex;
    margin-top: 150px;
    width: 100%;
}

.footer img{
    max-width: 450px;
}

.footer-text{
    background-color: gray;
    width: 70%;
    height: 300px;
    padding: 40px;
}

.form-area{
    position: relative;
}

input{
    width: 300px;
    padding: 20px 15px;
    border: none;
    outline: none;
}

.footer-text button{
    width: 100px;
    padding: 10px;
    background-color: khaki;
    color: white;
    border: none;
    position: absolute;
    left: 190px;
    top: 10px;
}

/* @media screen and (max-width: 600px) {
 .page{
    width: 100%;
 }  

 .intro{
    width: 100%;
 }

 .intro-btn button{
    width: 100%;
 }

 .skinproduct img{
    width: 100%;
 }

 .content h5{
     width: 50%;
 }

 .history{
    width: 100%;
 }

 .history img{
    width: 50%;
 }

 .history-text{
    width: 100%;
 }

 .selection-img{
    width: 100%;
 }

 .services{
    width: 100%;
 }

 .footer{
    width: 30%;
 }

} */